@import url('https://fonts.googleapis.com/css?family=UnifrakturMaguntia');
body{
  background-image: url('../img/backgroundspace.jpg');
  background-size:cover;
}
.navbar{
  z-index: 2;
  position:fixed;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.5);
}
.navbartitle{
  font-family: 'UnifrakturMaguntia', cursive;
  color: #fff;
}
.carousel{
  margin-top: 100px;
  margin-bottom:60px;
}
.carousel-caption{
  z-index: 10;
  padding-bottom:60px;
}
.carousel-inner .item{
  width:100%;
  height:600px;
  background-size:cover;
  background-position:center;
  text-align:center;
}
.main_img1{
  background-image: url('../img/hollowsquad.jpg');
  background-size:cover;
}
.main_img2{
  background-image: url('../img/satanimage.jpg');
}
.main_img3{
  background-image:url('../img/vintagecollection.jpg');
}
.btn-primary{
  color:#fff;
  background-color:#000;
  border-color:transparent;
}
.btn-primary:hover{
  background-color:#rgba(0, 0, 0, 0.7);
}
.container{
  width: 100%;
  padding: 50px 50px 50px 550px;
  color: #fff;
  text-align: center;
  border-color:#000;
  background-color: rgba(0,0,0,.5);
}
.btn-xs{
  color: #000;
}
.col-sm-1{
  font-family: 'UnifrakturMaguntia', cursive;
  text-align:left;
  color:#fff;
  width:100%;
}
.col-sm-3{
  padding-left: : 200px;
}
.footer{
  position:absolute;
}
.centered{
  width:100%;
}
/* about page */
.jumbotron{
  padding: 300px 50px 50px 100px;
  background:cover;
  color:#fff;
  background-color:rgba(0, 0, 0, 0.5);
}
/* contact page */
.steam{
  z-index: 2;
  padding-right: 0px;
}
.mail{
  position: absolute;
  z-index: 1;
  padding: 0px 50px 50px 600px;
}
